<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>댓글 수정</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  function editComment() {
    let article = `<%= article.id %>`
    let commentEdit = $('#post').val()
    let comment = `<%= comment %>`

    $.ajax({
      type: "PUT",
      headers: {
      authorization: `Bearer ${localStorage.getItem("token")}`,
    },
      url: "/articles/comment/edit/:id",
      data: { commentEdit, article, comment },
      success: function(response) {
        if (response === '수정 완료!') {
          window.location.href = document.referrer
        } else {
          alert(response)
        }
      },
      error:function(request,status,error){
    alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
   }
    })
  }

</script>
<body>
  <div class="container">
    <h1 class="mb-4">댓글 수정</h1>

      <div class="form-group">
        <label for="title">내용</label>
        <input required value="<%= comment.post %>" type="text" name="post" id="post" class="form-control">
      </div>
      <div class="card-text mb-2">작성자 : <%= comment.writer%></div>
      <div class="card-text mb-2">작성일 : <%= comment.createdAt.toLocaleDateString()%></div>
      <button onclick="editComment()" >수정</button>

      </div>
      
  </div></body>
</html>
