<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  function ajax_new_comment() {
    const postComment = $('#post').val()
    const articleId = `<%= article.id %>`
    $.ajax({
      type: "POST",
      url: '/comment',
      data: { postComment, articleId},
      success: function (response) {
        if (response === 'fail') {
          alert('내용을 입력해!')
        } else {
          location.href = `/articles/<%= article.id %>`
        }
      }
    })
  }

  function deleteComment() {
    console.log('in')
    const a = `<%= comment.id %>`
    console.log(a)

    // console.log(req.body)
    // $.ajax({
    //   type: "POST",
    //   url: '/comment',
    //   data: { postComment, articleId},
    //   success: function (response) {
    //     if (response === 'fail') {
    //       alert('내용을 입력해!')
    //     } else {
    //       location.href = `/articles/<%= article.id %>`
    //     }
    //   }
    // })
  }

  </script>

<style>
  body {
    background-image: url(https://mblogthumb-phinf.pstatic.net/MjAxNzA1MTFfNDIg/MDAxNDk0NTA0ODM3MTc4.HGQvjJfg_z08JQwWEcY9-YosMGenKFXDnHXKpHcAlJYg.iu6HxUTkynqg7JKYxLEzzQlqT0HkuNl2TaKxg0VNEv4g.GIF.h0pe_goodluck/2302248294488_2VQL08702.gif?type=w800
); 
    background-attachment: fixed;
    background-repeat:repeat-x;
    background-position: 20% 90%;
    
  }
</style>

<body>
  
  <div class="container">
    <div class="card mt-4 mb-2">
      <h1 class="mb-1">제목 : <%= article.title %>
      </h1>
      <div class="mb-2">
        내용 : <%= article.description %>
      </div>
      <div>
        작성자 : <%= article.writer %>
      </div>
      <div class="text-muted mb-2">
        <%= article.createdAt.toLocaleDateString() %>
      </div>
    </div>
    <a href="/" class="btn btn-secondary">홈으로</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">수정</a>
    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
      <a href="/articles/edit/<%= article.id %>" class="btn btn-danger">삭제</a>
    </form>

    <div class="form-group">
      댓글
      
      <textarea name="post" id="post" class="form-control"></textarea>
      <button onclick="ajax_new_comment()" >작성</button>
    </div>

      <div class="form-group">
      <textarea name="writer" id="writer" class="form-control">작성자</textarea>
    </div>
    
    <% comment.forEach(comment => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title">내용: <%= comment.post %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= comment.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2">작성자 : <%= article.writer%></div>
        </div>
        <button onclick="deleteComment(`<%= comment.id %>`)" >dd</button>
        <a href="comment/edit/<%= comment.id %>" class="btn btn-primary">수정</a>
        <a href="comment/<%= comment.id %>" class="btn btn-danger">삭제</a>
      </div>
    <% }) %>
    

    
  </div>


</body>

</html>